@import '../../../../../../assets/css/definitions';

.vehicles {
    display: block;

    &__content {
        width: 100%;
    }

    &__loading {
        margin-top: 15vh;
    }

    &__message {
        font-size: 16px;
        line-height: 22px;
        font-weight: $font-weight-semi-bold;
        color: $color-sys-message-on-blue-bg;
        text-align: center;
        margin-top: 15vh;

        &_error {
            color: $color-sys-message-error-on-blue-bg;
        }
    }

    &__table-wrap {
        width: 100%;
        overflow-y: visible;
        overflow-x: auto;
        padding: 10px;
        margin: -10px;
    }

    &__table > .table__header > .table__row > .table__cell,
    &__table > .table__body > .table__row > .table__cell {
        padding-left: 30px;
    }

    &__list {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;

        &-item {
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            width: 100%;
            padding: 10px 16px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 1px 3px 0 rgba(#0e0e0e, 0.1);

            & + & {
                margin-top: 8px;
            }

            &-primary {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: flex-start;
                font-size: 14px;
                line-height: 20px;
                font-weight: $font-weight-semi-bold;
                color: $color-text-primary;
                flex: 1;

                &-item {
                    & + & {
                        margin-top: 3px;
                    }

                    &_light {
                        color: #9399a3;
                    }
                }
            }

            &-secondary {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: flex-end;
            }
        }
    }

    &__add-popup {
        &-error {
            padding: 10px 14px;
            border-radius: 6px;
            font-size: 14px;
            line-height: 20px;
            font-weight: $font-weight-medium;
            background-color: #ffe9e9;
            color: #ef4848;
            margin-bottom: 16px;
        }

        &-label {
            display: block;
            width: 100%;

            &-text {
                display: inline-flex;
                font-size: 14px;
                font-weight: $font-weight-semi-bold;
                line-height: 20px;
                color: #73777f;
                cursor: default;
                user-select: none;
                margin-bottom: 8px;
            }
        }

        &-input {
            width: 100%;
        }

        .popup__box {
            max-width: 350px;
        }

        .popup__content {
            padding: 25px;
        }

        .popup__controls {
            padding: 0 25px 25px;
        }
    }

    &__unreg-popup,
    &__error-popup {
        .popup__box {
            max-width: 400px;
        }
    }

    &__payment-result-popup {
        strong {
            font-weight: bold;
        }

        .popup__controls .button {
            width: 100%;
        }
    }

    &__payment-popup {
        &-zip {
            display: block;
            margin-top: 18px;
            width: 100%;
        }

        .popup__box {
            max-width: 400px;
        }

        .popup__content {
            padding-bottom: 30px;
        }

        .popup__controls {
            padding-right: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
        }
    }

    &__fleet-lpn-popup {
        .popup__box {
            max-width: 400px;
        }

        .popup__controls .button {
            width: 100%;
        }

        &-header {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 25px;
        }

        &-table {
            width: 100%;
        }
    }

    &__fleet-lpn-wallet-popup {
        .popup__box {
            max-width: 400px;
        }

        .popup__content {
            padding-bottom: 30px;
        }

        .popup__controls {
            padding-right: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
        }
    }

    &__fleet-lpn-zip-popup {
        &-zip {
            display: block;
            // margin-top: 18px;
            width: 100%;
        }

        // -----------------------------------------------------------------

        .popup__box {
            max-width: 400px;
        }

        .popup__content {
            padding-bottom: 30px;
        }

        .popup__controls {
            padding-right: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
        }
    }

    html.viewport_desktop & {
        &__content {
            padding: 0 60px 200px;
            max-width: 1000px;
        }

        &__payment-result-popup {
            .popup__box {
                max-width: 500px;
            }
        }
    }

    html.viewport_tablet &,
    html.viewport_mobile & {
        &__content {
            padding: 18px 20px 100px;
        }
    }
}
