<popup [options]="{ isActive : true, closeBy: 'manual' }" (onCloseRequest)="onOk($event)">
    <popup-box>
        <popup-header>
            <span [innerHTML]="translateTitle ? (title | translate : titleData) : title"></span>
        </popup-header>
        <popup-content>
            <span class="alert__message" [innerHTML]="translateMessage ? (message | translate : messageData) : message"></span>
        </popup-content>
        <popup-controls>
            <div class="alert__checkbox" *ngIf="showRemember">
                <checkbox [(ngModel)]="remember">{{ 'popups.remember' | translate }}</checkbox>
            </div>
            <div class="popup__controls-buttons">
                <button type="button" class="button button_regular button_blue" (click)="onOk(false)">
                    <span class="button__caption" [innerHTML]="translateButtonCaption ? (buttonCaption | translate : buttonCaptionData) : buttonCaption"></span>
                </button>
            </div>
        </popup-controls>
    </popup-box>
</popup>
