# Current project
.vs/
.idea/

# User-specific files
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db

# Python
__pycache__
*.pyc

# Nodejs
node_modules