$body-color: #F5FBFF;

$font-family: 'TLG', Gilroy, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$color-text-common-grey: #656e7d;
$font-size-18px: 1.125rem;
$font-size-16px: 1rem;

$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$panel-color-normal: #fff;
$panel-color-inversed: #1953ad;

$section-gradient-dark-blue: linear-gradient(-30deg, #1971F5 0%, #101521 100%);