@import '../../../../../assets/css/definitions';

.terms-inner {
    display: block;
    width: 100%;

    &__wrapper {

    }

    &__loader {
        padding-top: 100px;
    }

    &__message {
        font-size: 16px;
        line-height: 22px;
        font-weight: $font-weight-semi-bold;
        color: $color-sys-message-on-blue-bg;
        text-align: center;
        margin-top: 15vh;

        &_error {
            color: $color-sys-message-error-on-blue-bg;
        }
    }

    &__docs {
        width: 100%;
        max-width: 530px;
        margin: 0 auto;
        padding: 0 25px;

        &-header {
            display: block;
            color: #656e7d;
            font-size: 24px;
            line-height: 38px;
            font-weight: $font-weight-semi-bold;
            margin-bottom: 20px;

            html.viewport_tablet & {
                padding-top: 25px;
            }

            html.viewport_mobile & {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 18px;
                padding-top: 16px;
            }
        }
    }

    &__list {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;

        &-item {
            display: flex;
            flex-flow: column nowrap;
            align-items: stretch;
            justify-content: flex-start;
            cursor: pointer;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 1px 3px 0 rgba(#0e0e0e, 0.1);
            padding: 14px 16px;

            & + & {
                margin-top: 8px;
            }

            &-primary {
                font-size: 16px;
                line-height: 22px;
                font-weight: $font-weight-medium;
            }

            &-secondary {
                font-size: 14px;
                line-height: 20px;
                color: #9399a3;
                margin-top: 3px;
                font-weight: $font-weight-medium;
            }

            html.viewport_mobile & {
                &-primary {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: $font-weight-semi-bold;
                }
            }
        }
    }

    &__content {
        color: $color-text-primary;
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
        text-align: justify;
        padding: 35px 20px 120px;
    }

    a {
        word-break: break-all;
    }

    h1 {
        display: block;
        font-size: 20px;
        line-height: 28px;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }

    h2 {
        display: block;
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        text-align: center;
        width: 100%;
    }

    h3 {
        display: block;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        text-align: center;
        width: 100%;
    }

    h1 + h2 {
        margin-top: 24px;
    }

    p + h2,
    .list + h2 {
        margin-top: 45px;
    }

    p + h3,
    .list + h3 {
        margin-top: 30px;
    }

    p {
        display: block;
        padding-top: 24px;
    }

    h3 + p {
        padding-top: 15px;
    }

    .list {
        &_section {
            list-style-type: none;
            counter-reset: item;

            > li {
                display: table;
                counter-increment: item;
                margin-bottom: 0.6em;

                &:before {
                    content: counters(item, ".") ". ";
                    display: table-cell;
                    padding-right: 0.6em;
                    font-weight: bold;
                }
            }
        }

        &_letter {
            list-style-type: none;
            counter-reset: item;

            > li {
                display: table;
                counter-increment: item;
                margin-bottom: 0.6em;

                &:before {
                    content: counter(item, upper-alpha) ". ";
                    display: table-cell;
                    padding-right: 0.6em;
                    font-weight: bold;
                }
            }
        }

        &_dot {
            list-style-type: none;

            > li {
                display: table;
                margin-bottom: 0.6em;

                &:before {
                    content: "● ";
                    display: table-cell;
                    padding-right: 0.6em;
                    font-weight: bold;
                }
            }
        }
    }

    h1 + .list,
    h2 + .list,
    h3 + .list,
    p + .list {
        margin-top: 15px;
    }

    &__panel {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 -1px 0 0 #dde3eb;
        padding: 15px 8px 8px;

        &-button {
            margin-top: 15px;

            .button {
                width: 100%;
            }
        }
    }

    html.viewport_tablet & {
        &__content {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    html.viewport_desktop & {
        &__wrapper {
            padding: 30px 0 60px;
        }

        &__content {
            background-color: #fff;
            border-radius: 10px;
            padding: 60px 40px;
            box-shadow: 0 1px 3px 0 rgba(14, 14, 14, 0.15);
        }

        &__panel {
            max-width: $content-max-width;
            //left: 50%;
            //transform: translateX(-50%);
            border-top: 1px solid #dde3eb;
            box-shadow: none;
            padding: 20px;

            &_sticky {
                border-radius: 0 0 10px 10px;
            }

            &-button {
                margin-top: 18px;
            }
        }
    }
}
