@import './font_nhg_definitions';

$body-color: #F6F8FF;
$link-color: #357bff;

$font-family: 'NHG', Montserrat, Roboto, 'Open Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Tahoma, sans-serif;

$panel-color-normal: #fff;
$panel-color-inversed: $link-color;

$z-index-panel:        100;
$z-index-panel-mobile: 100000;
