.time-select-panel {
    padding: 24px;
    font-size: 16px;
    background-color: white;
    border: 1px solid #d7e6ff;
    border-radius: 0 0 4px 4px;
    position: absolute;
    z-index: 1;
    top: 40px;
    right: 0;
}

.timepicker__trigger {
    flex-shrink: 0;
    flex-grow: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
    position: relative;
    z-index: 1;
    width: 46px;
}

.timepicker {
    max-width: 100%;
    display: flex;
    position: relative;
}

.timepicker-select {
    font-size: 20px;
    padding: 4px;
}

.time-selector {
    display: flex;
    justify-content: center;

    .time-unit {
        display: flex;

        &__arrow {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 6px;
        }

        &__input {
            flex: 1;
            text-align: center;
            padding: 0;
            font-size: 28px;
            font-weight: 500;
            width: 36px;
        }
    }

    &__separator {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 500;
        padding: 8px;
        user-select: none;
    }
}

.timepicker-period-select {
    display: flex;
    margin: 16px;

    &__option {
        flex: 1;
        text-align: center;
        padding: 4px;
        cursor: pointer;
        background-color: #d7e6ff;
        color: #4875e7;

        &.active {
            background-color: #4875e7;
            color: white;
            font-weight: 500;
        }
    }
}

.arrow-icon {
    $icons-size: 8px;
    $hover-color: #4875e7;
    $base-color: #A9A9A9;
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    border-left: $icons-size solid transparent;
    border-right: $icons-size solid transparent;

    &--up {
        border-bottom: $icons-size solid $base-color;

        &:hover {
            border-bottom: $icons-size solid $hover-color;
        }
    }

    &--down {
        border-top: $icons-size solid $base-color;

        &:hover {
            border-top: $icons-size solid $hover-color;
        }
    }
}

