@import '../../../../../../../assets/css/definitions';

.account-editor-payments {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    &__filters {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        &-item {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;

            & + & {
                margin-left: 20px;
            }
        }
    }

    &__loader {
        margin-top: 15vh;
    }

    &__message {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: $color-sys-message-on-blue-bg;
        text-align: center;
        margin-top: 15vh;

        &_error {
            color: $color-sys-message-error-on-blue-bg;
        }
    }

    &__content {

    }

    &__table {
        width: 100%;
        margin-top: 25px;

        & .table__cell + .table__cell {
            padding-left: 40px;
        }

        & > .table__header &-cell,
        & > .table__body &-cell {
            &-invoice {

            }

            &-amount {
                text-align: right;
            }
        }

        & > .table__body &-cell {
            &-invoice {
                color: $color-primary-blue;
            }

            &-amount {

            }
        }
    }

    &__pagination {
        margin-top: 20px;
    }
}
