<ul class="password-requirements-list" *ngIf="requirements">
    <li class="password-requirements-list-item"
        *ngIf="requirements.minLength"
        [class.password-requirements-list-item_active]="requirementsStatus.minLength"
    >{{ 'auth.password_requirements.min_length' | translate : { minLength: requirements.minLength } }}</li>
    <li class="password-requirements-list-item"
        *ngIf="requirements.specialCharacters"
        [class.password-requirements-list-item_active]="requirementsStatus.specialCharacters"
    >{{ 'auth.password_requirements.special_characters' | translate }}</li>
    <li class="password-requirements-list-item"
        *ngIf="requirements.uppercaseLetters"
        [class.password-requirements-list-item_active]="requirementsStatus.uppercaseLetters"
    >{{ 'auth.password_requirements.uppercase_letters' | translate }}</li>
    <li class="password-requirements-list-item"
        *ngIf="requirements.lowercaseLetters"
        [class.password-requirements-list-item_active]="requirementsStatus.lowercaseLetters"
    >{{ 'auth.password_requirements.lowercase_letters' | translate }}</li>
    <li class="password-requirements-list-item"
        *ngIf="requirements.digits"
        [class.password-requirements-list-item_active]="requirementsStatus.digits"
    >{{ 'auth.password_requirements.digits' | translate }}</li>
</ul>
