.password-requirements {
    display: none;
    position: absolute;
    left: 0;
    bottom: 100%;
    transform: translateY(-28px);
    color: #e3e5e8;
    background-color: rgba(0, 0, 0, 0.82);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
    padding: 12px 14px;
    font-size: 14px;
    line-height: 18px;

    &_active {
        display: block;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        border: 8px solid transparent;
        border-top-color: rgba(0, 0, 0, 0.82);
        left: 15px;
        bottom: -16px;
    }

    &-list {
        display: block;

        &-item {
            display: block;
            padding: 3px 4px 3px 20px;
            white-space: nowrap;

            &_active {
                color: #69d869;
                background: url('../../../../assets/images/auth_password_correct_mark.svg') no-repeat left center;
            }
        }
    }
}
