@import '../../../../../../assets/css/definitions';

.invoices-list {
    $due-in-color: #9399a3;
    $due-in-color-low: #f06767;

    display: block;
    width: 100%;

    &__content {
        padding: 0 60px 200px;
        max-width: 1000px;
    }

    &__loading {
        margin-top: 15vh;
    }

    &__message {
        font-size: 16px;
        line-height: 22px;
        font-weight: $font-weight-semi-bold;
        color: $color-sys-message-on-blue-bg;
        text-align: center;
        margin-top: 15vh;

        &_error {
            color: $color-sys-message-error-on-blue-bg;
        }
    }

    &__table-wrap {
        width: 100%;
        overflow-y: visible;
        overflow-x: auto;
        padding: 10px;
        margin: -10px;
    }

    &__table {
        // width: 100%;

        & .table__cell + .table__cell {
            padding-left: 40px;
        }

        & > .table__header &-cell,
        & > .table__body &-cell {
            &-checkbox {
                padding-right: 20px;
                width: 1px;
            }

            &-invoice {
                padding-left: 20px;
            }

            &-amount {

            }

            &-transactions {

            }

            &-date {
                padding-right: 30px;
            }
        }

        & > .table__body &-cell {
            &-checkbox {
                cursor: default;
            }

            &-invoice {
                color: $color-primary-blue;
                font-size: 16px;
                line-height: 22px;
                font-weight: $font-weight-semi-bold;
            }

            &-amount {
                font-size: 16px;
                line-height: 22px;
                font-weight: $font-weight-medium;
            }

            &-transactions {

            }

            &-date {

            }
        }

        &-due-in {
            color: $due-in-color;
            padding-left: 10px;
            font-weight: $font-weight-medium;

            &_low {
                color: $due-in-color-low;
            }
        }
    }

    // -----------------------------------------------

    &__list {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;

        &-item {
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            width: 100%;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 1px 3px 0 rgba(#0e0e0e, 0.1);

            & + & {
                margin-top: 8px;
            }

            &-cell {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;

                &_checkbox {
                    flex: 0 0 auto;
                    padding: 12px 25px 12px 20px;
                }

                &_info {
                    flex: 1 0 auto;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 10px 10px 10px 0;
                }

                &_amount {
                    flex: 0 0 auto;
                    font-size: 20px;
                    font-weight: normal;
                    line-height: 26px;
                    padding-right: 16px;
                }
            }

            &-name,
            &-date {
                font-weight: $font-weight-semi-bold;
                white-space: nowrap;
            }

            &-name {
                color: $color-primary-blue;
            }

            &-date {
                color: #9399a3;
                margin-top: 3px;

                &-due-in {
                    color: $due-in-color;
                    padding-left: 6px;

                    &_low {
                        color: $due-in-color-low;
                    }
                }
            }
        }
    }

    &__controls {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: $z-index-bottom-page-controls;
        background-color: #fff;
        padding: 15px;
        box-shadow: 0 0 5px rgb(#000, 0.1);
        opacity: 1;
        transform: translateY(0);

        &-details {
            flex-grow: 1;
            flex-shrink: 1;
        }

        &-pay {
            flex-grow: 1;
            flex-shrink: 0;
        }

        .button + .button {
            margin-left: 10px;
        }
    }

    &__extreme-amount-popup {
        .popup__controls .button {
            width: 100%;
        }
    }

    html.viewport_desktop & {
        &__extreme-amount-popup {
            .popup__box {
                max-width: 500px;
            }
        }
    }

    html.viewport_tablet & {
        &__list {
            &-item {
                &-cell {
                    &_info {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        justify-content: flex-start;
                    }
                }

                &-name {
                    min-width: 130px;
                }

                &-date {
                    margin-top: 0;
                    margin-left: 20px;
                }
            }
        }
    }

    html.viewport_mobile &,
    html.viewport_tablet & {
        font-size: 14px;
        line-height: 20px;
        font-weight: $font-weight-medium;

        &__content {
            padding: 18px 20px 100px;
            max-width: none;
        }
    }
}
