@import '../../../../assets/css/definitions';
@import '../popup.definitions';

.popup {
    &__content {
        display: block;
        font-size: 14px;
        line-height: 24px;
        font-weight: $font-weight-medium;
        padding: 33px $content-padding-x 38px;

        a {
            word-break: break-word;
        }
    }

    &__header + &__content {
        padding-top: 12px;
    }
}
