@import '../../../../assets/css/definitions';
@import '../../../../assets/css/mixins';

.dashboard {
    $sidebar-width: 290px;
    $sep-width: $sidebar-width - (40px * 2);

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;

    &__sidebar-nest {
        flex-shrink: 0;
        flex-grow: 0;
        width: $sidebar-width;
    }

    &__sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: $sidebar-width;
        height: 100%;
        background-color: #fff;
        box-shadow: 0 0 20px 0 rgba(22, 23, 24, 0.04);
        overflow: hidden;

        &-scroll-area {
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            margin-right: -17px;  // will be set by js
        }

        &-content {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            width: 100%;
            min-height: 100%;
            padding-top: 55px;
        }

        &-logo {
            width: 154px;

            &-svg {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        &-nav {
            display: block;
            user-select: none;
            margin-top: 55px;
            width: 100%;

            &-sep {
                width: $sep-width;
                height: 1px;
                margin: 10px auto;
                background-color: #eee;
            }

            &-list {
                display: block;
                width: 100%;

                & > li {
                    display: block;
                    width: 100%;
                    padding: 2px 20px;
                }
            }

            &-link {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                font-size: 14px;
                line-height: 20px;
                font-weight: $font-weight-semi-bold;
                border-radius: 8px;
                color: #494b50;
                background-color: #fff;
                padding: 10px 15px;

                &:hover,
                &_active {
                    color: $color-primary-blue;
                    background-color: #F0F6FA;
                }

                &-icon {
                    flex-shrink: 0;
                }

                &-text {
                    display: block;
                    margin-left: 16px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &,
                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                }
            }
        }

        &-footer {
            font-size: 14px;
            line-height: 20px;
            font-weight: $font-weight-semi-bold;
            color: #898A8D;
            width: 100%;
            margin-top: auto;
            padding: 60px 40px 20px;
        }
    }

    &__content {
        flex-shrink: 0;
        flex-grow: 0;
        width: calc(100% - #{ $sidebar-width });
    }

    &__fleet-lpn-popup {
        .popup__box {
            max-width: 400px;
        }

        .popup__controls .button {
            width: 100%;
        }

        &-header {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 25px;
        }

        &-table {
            width: 100%;
        }
    }

    &__debt-lock-popup,
    &__fleet-lpn-wallet-popup {
        .popup__box {
            max-width: 400px;
        }

        .popup__content {
            padding-bottom: 30px;
        }

        .popup__controls {
            padding-right: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
        }
    }

    &__fleet-lpn-zip-popup {
        &-zip {
            display: block;
            // margin-top: 18px;
            width: 100%;
        }

        // -----------------------------------------------------------------

        .popup__box {
            max-width: 400px;
        }

        .popup__content {
            padding-bottom: 30px;
        }

        .popup__controls {
            padding-right: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
        }
    }

    &__welcome-popup {
        strong {
            font-weight: bold;
        }

        .popup__controls .button {
            width: 100%;
        }
    }

    &__payment-popup {
        &-zip {
            display: block;
            margin-top: 18px;
            width: 100%;
        }

        // -----------------------------------------------------------------

        .popup__box {
            max-width: 400px;
        }

        .popup__content {
            padding-bottom: 30px;
        }

        .popup__controls {
            padding-right: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
        }
    }

    html.viewport_desktop & {
        &__welcome-popup {
            .popup__box {
                max-width: 500px;
            }
        }
    }

    html.viewport_mobile &,
    html.viewport_tablet & {
        &__nav {
            display: none;
        }

        &__content {
            width: 100%;
            // max-width: none;
            padding-top: $app-bar-height;
        }
    }
}

@media print {
    .dashboard {
        &__content {
            width: 100% !important;
            padding: 0 !important;
        }

        &__sidebar-nest {
            display: none !important;
        }
    }
}
