@import '../../../../assets/css/definitions';

.contact-us {
    display: block;
    width: 100%;

    .page-header {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 25px 25px 30px;
    }

    html.viewport_desktop &,
    html.viewport_tablet & {
        .page-header {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }

        .contact-us-inner {
            margin: 0 auto;
            padding-bottom: 100px;
        }
    }

    html.viewport_tablet & {
        .page-header {
            padding: 25px 25px 30px;
        }
    }

    html.viewport_mobile & {
        .page-header {
            padding: 16px 25px;
        }

        .contact-us-inner {
            padding-bottom: 20px;
        }
    }
}
