input.exp-input,
select.exp-input {
    border: 1px solid #ced6de;
    padding: 5px 8px;
}

table.exp-buttons-table td {
    padding: 5px;
}

.exp-section {
    padding: 30px 50px;
}

form.exp-form label {
    display: block;
    margin: 5px 0;
}
