@import '../../../../../assets/css/definitions.scss';

.dropdown-menu {
    display: block;
    position: absolute;
    z-index: $z-index-context-menu;

    &__dropdown {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: flex-start;
        border-radius: 6px;
        border: 1px solid #dde3eb;
        background-color: #fff;
        padding: 6px 0;
        box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
        width: 100%;
    }

    &__item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: 14px;
        line-height: 20px;
        font-weight: $font-weight-medium;
        width: 100%;
        white-space: nowrap;
        cursor: pointer;
        padding: 8px 16px;
        color: $color-text-primary;
        background-color: #fff;
        text-align: left;

        &,
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }

        &_active {
            color: $color-text-primary;
            background-color: #f0f5f9;
        }

        &:hover,
        &_active:hover {
            color: #fff;
            background-color: $color-primary-blue;
        }

        &_disabled,
        &_disabled:hover,
        &_disabled:focus,
        &_disabled:active,
        &_active#{&}_disabled {
            color: #abb0b7;
            background-color: #fff;
            cursor: default;
            pointer-events: none;
        }
    }
}
