.control-validation-error {
    color: #f44336;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2;
    display: block;
    margin-bottom: 12px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
