<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <auth-message *ngIf="message" [type]="message.type" (onClose)="message = null">
        <span [innerHTML]="message.messageKey | translate : message.messageData"></span>
    </auth-message>
    <div class="auth__control">
        <label class="auth__control-label" auth-input>
            <input class="auth__input" type="password" formControlName="newPassword" autocomplete="new-password" #passwordInput>
            <span class="auth__control-label-text">{{ 'auth.new_password.new_password__label' | translate }}</span>
            <button type="button" class="auth__input-eye">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" class="auth__input-eye-show">
                    <path fill="currentColor" d="M11,4C5.34,4,1,11,1,11s4.38,7,10,7,10-7,10-7S16.66,4,11,4Zm0,12a5,5,0,1,1,5-5A5.0018,5.0018,0,0,1,11,16Z"></path>
                    <circle fill="currentColor" cx="11" cy="11" r="3"></circle>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" class="auth__input-eye-hide">
                    <path fill="currentColor" d="M16.96,6.46l1.82-1.82L17.36,3.22,15.29,5.29A8.4842,8.4842,0,0,0,11,4C5.34,4,1,11,1,11a20.9633,20.9633,0,0,0,4.05,4.53L3.22,17.36l1.42,1.42L6.72,16.7A8.3915,8.3915,0,0,0,11,18c5.62,0,10-7,10-7A20.61,20.61,0,0,0,16.96,6.46ZM6,11a5.0018,5.0018,0,0,1,5-5,5.0866,5.0866,0,0,1,2.76.82L12.29,8.29A3.0864,3.0864,0,0,0,11,8a2.996,2.996,0,0,0-3,3,3.0864,3.0864,0,0,0,.29,1.29L6.82,13.76A5.0866,5.0866,0,0,1,6,11Zm5,5a5.0866,5.0866,0,0,1-2.76-.82l1.47-1.47A3.0864,3.0864,0,0,0,11,14a2.996,2.996,0,0,0,3-3,3.0864,3.0864,0,0,0-.29-1.29l1.47-1.47A5.0866,5.0866,0,0,1,16,11,5.0018,5.0018,0,0,1,11,16Z"></path>
                </svg>
            </button>
        </label>
        <password-requirements [password]="form.controls['newPassword'].value" [input]="passwordInput"></password-requirements>
    </div>
    <div class="auth__control">
        <button type="submit" class="button button_large button_blue button_block">
            <span class="button__caption">{{ 'auth.new_password.continue__button' | translate }}</span>
        </button>
    </div>
</form>
