$grid-breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

@mixin desktop {
    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        @content;
    }
}

@mixin tablet {
    $lg-minus-1: map-get($grid-breakpoints, lg) - 1px;
    @media screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: $lg-minus-1) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: map-get($grid-breakpoints, md)) {
        @content;
    }
}
