@import '../../../../assets/css/definitions.scss';

.billing {
    display: block;

    &__balance {
        display: inline-flex;
        flex-flow: column nowrap;
        padding: 30px 52px 36px;
        border-radius: 6px;
        color: #fff;
        background-color: #529440;

        &-title {
            font-size: 16px;
            line-height: 22px;
            white-space: nowrap;
            opacity: 0.9;
        }

        &-value {
            font-size: 40px;
            line-height: 38px;
            font-weight: $font-weight-light;
            margin-top: 10px;
        }
    }

    &__invoices {
        display: flex;

        .items-table-wrap {
            width: auto;
            min-width: 30%;
        }
    }

    &__invoice-button {
        $size: 30px;
        width: $size;
        height: $size;
        cursor: pointer;
        display: block;
        background: transparent url('../../../../assets/images/pay_icon.svg') no-repeat center center;
    }
}
