$color-bg-primary: #fff7f0;
$color-bg-blue: #3d3e67;
$color-orange: #ff8b2f;
$color-crimson: #904c6e;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-semibold: 600;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
