@import '../../../assets/css/definitions.scss';
@import '../../../assets/css/mixins.scss';

$_button-width: 46px;

$tongue-height: 8px;
$tongue-shift: ($_button-width / 2) - $tongue-height - 1px;
$popup-margin: 4px;
$section-width: 230px;

.datepicker {
    display: inline-flex;
    flex-flow: row nowrap;
    width: 100%;
    position: relative;

    &_active {
        z-index: $z-index-control-active;
    }

    &__input {
        flex-grow: 1;
        position: relative;
        z-index: 5;
    }

    &__trigger {
        flex-shrink: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1px;
        position: relative;
        z-index: 1;
    }

    &__trigger.button_regular {
        padding: 0 14px;
    }

    &-bubble {
        $bubble-border-radius: 4px;
        $button-border-radius: $bubble-border-radius - 1px;

        display: block;
        position: absolute;
        background-color: #fff;
        border-radius: $bubble-border-radius;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
        border: 1px solid $color-input-deco-color;

        @include no-select;

        &_top-left {
            bottom: 100%;
            left: 0;
            margin-bottom: $tongue-height + $popup-margin;
        }

        &_top-right {
            bottom: 100%;
            right: 0;
            margin-bottom: $tongue-height + $popup-margin;
        }

        &_bottom-left {
            top: 100%;
            left: 0;
            margin-top: $tongue-height + $popup-margin;
        }

        &_bottom-right {
            top: 100%;
            right: 0;
            margin-top: $tongue-height + $popup-margin;
        }

        &__tongue {
            display: block;
            position: absolute;
            overflow: hidden;
            width: $tongue-height * 2;
            height: $tongue-height;

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
            }

            &:before {
                border: $tongue-height solid transparent;
                left: 0;
            }

            &:after {
                border: ($tongue-height - 1) solid transparent;
                left: 1px;
            }
        }

        &_top-left &__tongue {
            bottom: (-1 * $tongue-height);
            left: $tongue-shift;
        }

        &_top-right &__tongue {
            bottom: (-1 * $tongue-height);
            right: $tongue-shift;
        }

        &_top-left &__tongue,
        &_top-right &__tongue {
            &:before,
            &:after {
                top: 0;
            }

            &:before {
                border-top-color: darken($color-widget-border-darken, 5%);
            }

            &:after {
                border-top-color: #fff;
            }
        }

        &_bottom-left &__tongue {
            top: (-1 * $tongue-height);
            left: $tongue-shift;
        }

        &_bottom-right &__tongue {
            top: (-1 * $tongue-height);
            right: $tongue-shift;
        }

        &_bottom-left &__tongue,
        &_bottom-right &__tongue {
            &:before,
            &:after {
                bottom: 0;
            }

            &:before {
                border-bottom-color: darken($color-widget-border-darken, 5%);
            }

            &:after {
                border-bottom-color: #fff;
            }
        }

        // -------------------------------

        $now-height: 61px;
        $year-month-height: 41px;
        $grid-height: 218px;

        &__sections {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
        }

        &__section {
            width: $section-width;
            display: flex;
            flex-flow: column nowrap;
        }

        &__now {
            $padding-y: 10px;
            $padding-x: 16px;
            $font-size: 40px;

            display: block;
            cursor: pointer;
            width: 100%;
            height: $now-height;
            color: $color-primary-blue;
            border-bottom: 1px solid $color-widget-border-darken;
            background-color: transparent;
            position: relative;
            text-align: left;
            font-size: $font-size;
            line-height: $font-size;
            font-weight: $font-weight-light;

            &:after {
                content: '';
                display: block;
                left: 0;
                bottom: -1px;
                height: 0;
                width: 100%;
                background-color: $color-primary-blue;
                position: absolute;
                transition: height 0.1s ease-out;
            }

            &_date {
                padding: $padding-y 0 $padding-y $padding-x;
            }

            &:hover:after {
                height: 4px;
            }

            &-day {
                float: left;
                height: 100%;
                margin-right: 6px;
            }

            &-today {
                display: block;
                font-size: 13px;
                line-height: 17px;
                padding-top: 2px;
                opacity: 0.7;
                color: $color-text-primary;
                font-weight: $font-weight-medium;
            }

            &-month {
                display: block;
                font-size: 16px;
                line-height: 20px;
                font-weight: normal;
                color: $color-text-primary;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &_time {
                display: flex;
                align-items: baseline;
                justify-content: flex-end;
                padding: $padding-y $padding-x $padding-y 0;
            }

            &-suffix {
                font-size: $font-size * 0.6;
                line-height: $font-size * 0.6;
                padding-left: 6px;
            }

            &-dots {
                display: block;
                padding: 0 4px 6px;
                animation: clockDots 1.2s infinite;
            }
        }

        &__grid-switcher {
            $prev-next-width: 30px;
            $year-width: 44px;

            width: 100%;
            height: $year-month-height;
            border-bottom: 1px solid $color-widget-border-darken;
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;

            &-prev,
            &-next {
                color: #9ca1a8;
                width: $prev-next-width;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;

                &:hover {
                    color: $color-primary-blue;
                }
            }

            &-center {
                flex-grow: 1;
                display: flex;
                flex-flow: row nowrap;
                align-items: stretch;
                justify-content: center;
            }

            &-month,
            &-year,
            &-back {
                cursor: pointer;
                font-size: 16px;
                line-height: 20px;
                color: $color-text-primary;
                background-color: transparent;

                &:hover {
                    color: $color-primary-blue;
                }
            }

            &-year {
                font-weight: normal;
                width: $year-width;
                text-align: center;
            }

            &-month,
            &-back {
                font-weight: $font-weight-medium;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-month {
                padding: 0 2px;
                max-width: ($section-width - ($prev-next-width * 2) - $year-width);
                text-align: right;
            }

            &-back {
                text-align: center;
            }
        }

        &__grid {
            height: $grid-height;
        }

        &__calendar {
            $padding-x: 10px;
            $week-width: ($section-width - ($padding-x * 2));
            $day-size: floor($week-width / 7);

            padding: 9px $padding-x 10px;

            &-dow {
                display: flex;
                flex-flow: row nowrap;
                height: 16px;

                > i {
                    display: block;
                    width: $day-size;
                    font-size: 11px;
                    line-height: 15px;
                    vertical-align: middle;
                    text-transform: uppercase;
                    text-align: center;
                    color: #818181;
                    white-space: nowrap;
                    overflow: hidden;
                    font-style: normal;
                    font-weight: $font-weight-medium;
                }
            }

            &-days {
                margin-top: 3px;
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                overflow: hidden;
            }

            &-day {
                $padding: 3px;
                $inner-size: ($day-size - ($padding * 2));
                $font-size: 14px;
                $line-height: ($font-size + 4px);

                width: $day-size;
                height: $day-size;
                padding: $padding;
                cursor: pointer;
                color: $color-text-primary;// #404040;
                border-radius: $button-border-radius;

                > span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    font-size: $font-size;
                    line-height: $line-height;
                    text-align: right;
                    padding: floor(($inner-size - $line-height) / 2) 4px 0 0;
                    border-radius: $button-border-radius;
                }

                &_holiday,
                &_weekend {
                    color: $color-primary-red;
                }

                &_today {
                    font-weight: bold;
                }

                &_tail,
                &_head {
                    color: #a6a6b1;
                }

                &:hover {
                    background-color: lighten($color-primary-blue, 35%);
                }

                &,
                &_active,
                &_active:hover {
                    background-color: #fff;
                }

                &_active > span {
                    background-color: $color-primary-blue;
                    color: #fff;
                }

                &_active#{&}_tail > span,
                &_active#{&}_head > span {
                    background-color: lighten($color-primary-blue, 15%);
                }
            }
        }

        &__years,
        &__months {
            $buttons-x: 3;
            $buttons-y: 4;

            $main-padding: 13px;
            $button-margin: 3px;
            $font-size: 14px;
            $line-height: ($font-size + 4px);
            $button-width: floor(($section-width - ($main-padding * 2) - ($button-margin * 2 * $buttons-x)) / $buttons-x);
            $button-height: floor(($grid-height - ($main-padding * 2) - ($button-margin * 2 * $buttons-y)) / $buttons-y);
            $button-padding-y: floor(($button-height - $line-height) / 2);

            padding: $main-padding;
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;

            &-year,
            &-month {
                cursor: pointer;
                width: $button-width;
                border-radius: $button-border-radius;
                margin: $button-margin;
                height: $button-height;
                padding: $button-padding-y 0;
                text-align: center;
                font-size: $font-size;
                line-height: $line-height;
                color: $color-text-primary;
                background-color: #fff;

                &:hover {
                    background-color: lighten($color-primary-blue, 35%);
                }

                &_active,
                &_active:hover {
                    color: #fff;
                    background-color: $color-primary-blue;
                }
            }
        }

        &__time {
            $inputs-height: 42px;

            height: $year-month-height + $grid-height;
            border-left: 1px solid $color-widget-border-darken;

            &-inputs {
                padding-top: 30px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
            }

            &-input {
                $font-size: 24px;

                height: $inputs-height;
                font-size: $font-size;
                line-height: $font-size;
                text-align: center;
                font-weight: $font-weight-light;
                width: 50px !important;
                padding: ((($inputs-height - 2px) - $font-size) / 2);
                color: $color-text-primary;
            }

            &-dots {
                width: 24px;
                height: $inputs-height;
                color: #acb4c1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &-suffix {
                margin-top: 23px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;

                &-switch {
                    cursor: pointer;
                    padding: 5px 0;
                    width: 62px;
                    border-radius: $button-border-radius;
                    border: 1px solid $color-widget-border-darken;
                    background-color: #fff;
                    color: $color-text-primary;
                    font-size: 14px;
                    line-height: 18px;
                    text-align: center;
                    text-transform: uppercase;

                    &_active {
                        border-color: transparent;
                        background-color: $color-primary-blue;
                        color: #fff;
                    }

                    &:first-child {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        border-right: 0;
                    }

                    &:last-child {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-left: 0;
                    }
                }
            }
        }

        &__sliders {
            margin-top: 38px;
        }

        &__time-suffix + &__sliders {
            margin-top: 17px;
        }

        &__slider {
            $track-size: 2px;
            $handle-size: 16px;
            $handle-margin: (-1 * (($handle-size - $track-size) / 2));

            padding: 0 25px;

            & + & {
                margin-top: 25px;
            }

            &-title {
                font-size: 14px;
                line-height: 18px;
            }

            &-wrap {
                padding: 6px 0;
                margin: 4px auto 0;
            }

            &-track,
            &-fill {
                height: $track-size;
                border-radius: ceil($track-size / 2);
            }

            &-track {
                width: 180px;
                background-color: #cfcfd4;
            }

            &-fill {
                width: 0;
                position: relative;
                background-color: $color-primary-blue;
                // transition: width 0.05s ease-in;
            }

            &-handle {
                position: absolute;
                width: $handle-size;
                height: $handle-size;
                background-color: $color-primary-blue;
                border-radius: 50%;
                top: 0;
                right: 0;
                margin: $handle-margin $handle-margin 0 0;
            }
        }
    }

    &-popup {
        $font-size: 18px;
        $controls-padding: 15px;
        $item-width: 60px;
        $item-height: 44px;
        $control-height: ($item-height * 3);
        $sep-border-size: 2px;

        background-color: rgba(#000, 0.85);
        @include no-select;

        & > .popup__scroll-area {
            padding: 0 20px 20px;
        }

        &__box {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
        }

        &__displays {
            margin: auto;
        }

        &__display {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            & + & {
                margin-top: $controls-padding;
            }
        }

        &__control {
            height: $control-height;
            width: $item-width;
            overflow: hidden;
            position: relative;

            & + & {
                margin-left: $controls-padding;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: ($item-height - floor($sep-border-size / 2));
                left: 0;
                right: 0;
                height: ($item-height + $sep-border-size);
                border: 2px solid $color-primary-blue;
                border-left-width: 0;
                border-right-width: 0;
                z-index: 2;
            }

            &-screen {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 3;
            }

            &-items {
                overflow: visible;
                margin-top: $item-height;
                position: relative;
                z-index: 1;

                &_animated {
                    transition: transform 0.075s linear;
                }
            }

            &-item {
                color: #fff;
                font-size: $font-size;
                line-height: $font-size;
                font-weight: $font-weight-light;
                padding: floor(($item-height - $font-size) / 2) 0;
                height: $item-height;
                text-align: center;
                opacity: 0.4;

                &_active {
                    font-weight: normal;
                    opacity: 1;
                }
            }
        }

        &__buttons {
            display: flex;
            flex-flow: row nowrap;

            .button {
                width: 50%;
                flex-grow: 1;
            }

            .button + .button {
                margin-left: 15px;
            }
        }
    }
}

.datepicker-no-scroll {
    @include no-scroll;
}
