@import '../../../assets/css/definitions.scss';

.terms {
    display: block;

    &__content {
        font-size: 14px;
        line-height: 24px;
        text-align: justify;
        word-break: break-word;

        br {
            display: none;
        }

        h2 {
            margin: 35px 0 20px;
        }

        h3 {
            margin: 20px 0 8px;
        }
    }
}
