@import '../../../../../assets/css/definitions';

.contact-us-dashboard {
    display: block;
    width: 100%;

    &__content {

    }

    .page-header {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 25px 0;
    }

    html.viewport_desktop & {
        &__content {
            width: 100%;
            padding: 0 60px 100px;
        }

        .contact-us-inner__wrapper {
            padding: 0;
        }
    }

    html.viewport_tablet & {
        .page-header {
            max-width: 600px;
            margin: 0 auto;
        }

        .contact-us-inner {
            margin: 0 auto;
        }

        .contact-us-inner__wrapper {
            padding-bottom: 50px;
        }
    }

    html.viewport_mobile & {
        .contact-us-inner__wrapper {
            padding-bottom: 20px;
        }
    }

    html.viewport_tablet &,
    html.viewport_mobile & {
        .page-header {
            padding: 16px 25px 20px;
        }
    }

    html.viewport_mobile & {
        .page-header {
            margin: 0;
        }
    }
}
