<div class="matrix-statuses-info">
    <div class="d-flex align-center mb-4">
        <app-coverage-matrix-status-icon class="matrix-info-icon"
                                         [status]="'ADDED'"></app-coverage-matrix-status-icon>
        <span class="text-small"> {{'extend_coverage.coverage_status.active' | translate}}</span>
    </div>
    <div class="d-flex align-center mb-4">
        <app-coverage-matrix-status-icon class="matrix-info-icon"
                                         [status]="'ADD_PENDING'"></app-coverage-matrix-status-icon>
        <span
            class="text-small"> {{'extend_coverage.coverage_status.pending' | translate}}</span>
    </div>
    <div class="d-flex align-center">
        <app-coverage-matrix-status-icon class="matrix-info-icon"
                                         [status]="'ADD_ERROR'"></app-coverage-matrix-status-icon>
        <span class="text-small"> {{'extend_coverage.coverage_status.inactive' | translate}}</span>
    </div>
</div>
